/* FOOTER */
footer {
    height: 60vh;
    background: #111;
    color: #FDFCF6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-cta {
    font-family: var(--font-serif);
    font-size: 3rem;
    margin-bottom: 30px;
}

.footer-email {
    font-size: 1.2rem;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
